@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #1E252B;
  color: #64ffda;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #a8b2d1;
}

a:hover {
  text-decoration: none;
  color: #e6f1ff;
}

a:active {
  color: #f1f1f1;
}

.photo {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.information {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .information {
    text-align: center;
    display: block;
  }
}

.info-text {
  margin-left: auto;
  margin-right: auto;
}

.info-text h1 {
  color: #e6f1ff;
}

.information .contacts-block {
  color: #837A93;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
}

.social-media {
  width: 1.5rem;
  height: 1.5rem;
}

.in {
  margin-left: 1rem;
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.info_1, .info_2 {
  background: #020c1b;
}

.card {
  padding: 20px 30px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.list {
  padding: 0 40px;
}

.list li {
  color: #e6f1ff;
  margin-bottom: 20px;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #837A93;
}
